<% content_for(:title, "#Listing: {@property.name} | janBnB") %>
<div class="house">
  <h1 id="prop_name"><%= @property.name %></h1>

  <div>

    <% if @property.photos != nil %>
      <ul id="all_photos" class="unstyled">
        <%= render @property.photos %>
      </ul>
    <% end %>

  </div>

  <h3>Location:</h3>
  <p class="indent" id="prop_location"><%= @property.location %></p>
  <br>
  <br>
  <h3>Description:</h3>
  <p id="prop_description" class="indent"><%= @property.description %></p>
  <br>
  <br>
  <h3>Price:</h3>
  <p class="indent">$<span id="prop_price"><%= @property.price %></span> per night</p>
  <br>
  <br>
  <% if @property.user_id == current_user.id %>
    <%= link_to 'Add Picture', new_property_photo_path(@property), class: 'btn btn-primary', remote: true, id: "new_photo_link" %>
    <br>
    <br>
    <%=  link_to 'Edit Property Details', edit_property_path(@property), class: 'btn btn-primary', remote: true, id: "edit_property_link" %>
  <% end %>
</div>

<div class="host">
<h3>Host:</h3>
<p><%= image_tag @user.avatar.url(:thumb) %></p>
<p class="indent">Meet <%= @user.name %></p>
<p class="indent"><%= @user.bio %></p>
</div>

<br />
<br />


